@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Z Course</h1>
    <p class="lead">Welcome to Z course, a simple way of learning how to code the basics of C Sharp.<p>
    <p>Before registering or logging in, please have a .txt or .cs document for writing and compiling the code.</p>
</div>